doctype html
html
	head
		meta(charset="utf-8")
		link(href="assets/img/icon.ico" rel="icon")
		title Hugant Mirron - Миронов Даниил
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
		link(href="assets/css/bootstrap.min.css" rel="stylesheet")
		link(href="assets/css/now-ui-kit.css?v=1.1.0" rel="stylesheet")
		link(href="assets/css/index.css" rel="stylesheet")
	body.profile-page.sidebar-collapse
		nav.navbar.navbar-expand-lg.fixed-top.navbar-transparent
			.container
				.navbar-translate
					a.navbar-brand(href="") Hugant Mirron

		.wrapper
			<!--suppress HtmlUnknownAttribute -->
			.page-header.page-header-small(filter-color="primary")
				.page-header-image(data-parallax="true" style="background-image: url('assets/img/back2.jpg')")
				.container
					.content-center
						.photo-container
							img(src="assets/img/hugant.jpg")
						h3.title Миронов Даниил
						p.category Программист, верстальщик

		.section(style="z-index: 2")
			.container
				.button-container
					a.btn.btn-primary.btn-round.btn-lg.btn-icon(href="https://vk.com/hugant" target="_target")
						i.fa.fa-vk
					a.btn.btn-primary.btn-round.btn-lg.btn-icon(href="https://www.instagram.com/hugantmirron" target="_target")
						i.fa.fa-instagram
					a.btn.btn-primary.btn-round.btn-lg.btn-icon(href="https://github.com/hugant" target="_target")
						i.fa.fa-github

				h3.title Обо мне
				h5.description
					| Программированием и версткой сайтов я начал заниматься ещё со школьной
					| скамьи, эта сфера деятельности меня очень сильно заинтересовала и
					| затянула. С каждым годом я все больше углублялся в изучение этой сферы
					| и практиковался в различных для себя отраслях.
					| В одиннадцатом классе, помимо написания и защиты дипломной работы на
					| тему "Создание гексакоптера и программы управления для него",
					| я поступил в IT ШКОЛУ SAMSUNG
					| (программа дополнительного образования по основам IT и программирования),
					| посредством собеседования, на котором было достаточно много талантливых
					| ребят, но прошли лишь немногие. По истечению целого академического
					| года я получил знания и опыт в мобильной разработке на Java под Android,
					| и успешно закончил обучение, защитив свой итоговый проект "Starclipse",
					| заняв 1 место в номинации GameDev.
					| На данный момент времени я студент очной формы 2-го курса
					| СибГУ им. М.Ф.Решетнева по специальности "Автоматизация технологических
					| процессов и производств".
					| Прилагаю перечень технологий, с которыми я работаю:
					| <a href="https://ru.wikipedia.org/wiki/HTML" target="_target">HTML</a>,
					| <a href="https://ru.wikipedia.org/wiki/CSS" target="_target">CSS</a>,
					| <a href="https://pugjs.org/api/getting-started.html" target="_target">Pug</a>,
					| <a href="https://bootstrap-4.ru/" target="_target">Bootstrap</a>,
					| <a href="https://ru.wikipedia.org/wiki/JavaScript" target="_target">JavaScript</a>,
					| <a href="https://ru.wikipedia.org/wiki/Java" target="_target">Java</a>.
					| Помимо перечисленного перечня выше, я изучаю и немного владею
					| <a href="https://ru.wikipedia.org/wiki/Python" target="_target">Python</a>
					| и <a href="https://ru.wikipedia.org/wiki/C%2B%2B" target="_target">C++</a>.
				.col-md-6.ml-auto.mr-auto
					h4.title.text-center Мое портфолио
					.nav-align-center
						ul.nav.nav-pills.nav-pills-primary(role="tablist")
							li.nav-item
								a.nav-link.active(href="#js-days" data-toggle="tab" role="tab")
									i.now-ui-icons.tech_controller-modern
							li.nav-item
								a.nav-link(href="#starclipse" data-toggle="tab" role="tab")
									i.now-ui-icons.objects_planet
							li.nav-item
								a.nav-link(href="#tirus" data-toggle="tab" role="tab")
									i.now-ui-icons.education_paper


				.tab-content
					include modules/projects/js-days
					include modules/projects/starclipse
					include modules/projects/tirus


		footer.footer.footer-default
			.container.d-flex.text-center.justify-content-center.items-align-center
				div Copyright by <a href="">Hugant Mirron</a> <br> <script> document.write(new Date().getFullYear()) </script>




		//- Core JS Files
		script(src="assets/js/core/jquery.3.2.1.min.js")
		script(src="assets/js/core/popper.min.js")
		script(src="assets/js/core/bootstrap.min.js")
		//- Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
		script(src="assets/js/plugins/bootstrap-switch.js")
		//- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
		script(src="assets/js/plugins/nouislider.min.js")
		//- Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
		script(src="assets/js/plugins/bootstrap-datepicker.js")
		//- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc
		script(src="assets/js/now-ui-kit.js?v=1.1.0")

		//- Yandex.Metrika counter
		script.
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
						try {
								w.yaCounter49773796 = new Ya.Metrika2({
										id:49773796,
										clickmap:true,
										trackLinks:true,
										accurateTrackBounce:true,
										webvisor:true
								});
						} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
						s = d.createElement("script"),
						f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/tag.js";

				if (w.opera == "[object Opera]") {
						d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks2");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/49773796" style="position:absolute; left:-9999px;" alt="")
		//- /Yandex.Metrika counter