* {
	margin: 0;
	padding: 0;
	outline: none;
}

html, body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	overflow: hidden;
	background-color: #000000;
}

#wrapper {
	display: none;
}

/********************** HEADER */

header,
header #content,
header #blackout,
header #wallpaper {
	position: absolute;
	height: 100vh;
	width: 100%;
}

header {
	position: relative;
}

header #wallpaper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url(../Images/back.jpg);
}

header #blackout {
	background: black;
	opacity: 0.4;
}

header #content {
	position: absolute;
	top: 50%;
	height: 452px;
	margin-top: -226px;
}

header #content #image {
	background: url("../Images/hugant.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 100px;
}

header #content #name,
header #content #nickname {
	text-align: center;
	color: white;
	font-family: arial;
	font-weight: 100;
	margin-top: 20px;
}


header #content #social {
	text-align: center;
	margin-top: 20px;
}

header #content #social a {
	text-decoration: none;
	color: white;
}

header #content #social div i:hover {
	color: #4078c0;
}

header #content #social #mail i:hover {
	color: #db4437;
}

header #content #social #facebook i:hover {
	color: #3b5998;
}

header #content #social #github i:hover {
	color: #3a424a;
}

header #content #social #vk i:hover {
	color: #507299;
}

header #content #social div {
	display: inline-block;
	width: 100px;
	font-size: 2.5em;
}

#menu {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

#menu a {
	display: inline-block;
	height: 30px;
	padding: 0 10px 0 10px;
	color: white;
	line-height: 30px;
	margin: 0 0px;
	font-family: arial;
	text-decoration: none;
}

#menu a:hover {
	height: 29px;
	border-bottom: 1px solid white;
}

/********************** SECTION */

section,
section #content,
section #blackout,
section #wallpaper {
	position: absolute;
	height: 100vh;
	width: 100%;
}

section {
	position: relative;
}

/***** ABOUT */
#about #wallpaper {
	background-image: url(../Images/hug.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#about #blackout {
	background: black;
	opacity: 0.4;
}

#about #content {
	height: 80vh;
	width: 50%;
	margin-top: 8vh;
	margin-left: 5%;
	min-width: 500px;
}

#about #content #info {
	height: 80vh;
}

#about #content #info #lining,
#about #content #info #text {
	position: absolute;
	height: 100%;
	width: 100%;
}

#about #content #info #lining {
	background: white;
	opacity: 0.5;
	border-radius: 20px;
	padding: 5px;
}

#about #content #info #text {
	overflow-y: auto;
	word-wrap: break-word;
}

#about #content #info #text p {
	padding: 0 10px 0 20px;
}

#about #content #info #text h1 {
	padding: 10px;
}

#about #content #info #text::-webkit-scrollbar {
    width: 5px;
}

#about #content #info #text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(130, 130, 130);
}

#about #content #info #text::-webkit-scrollbar-track {
	margin:10px;
}

#about #menu {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 4vh;
}

#about #menu div {
	display: inline-block;
	height: 30px;
}

#about #menu div a {
	color: white;
	line-height: 30px;
	margin: 0 10px;
	font-family: arial;
	text-decoration: none;
}

#about #menu div:hover {
	height: 29px;
	border-bottom: 1px solid white;
}

/********************** PORTFOLIO */

#portfolio .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	-webkit-transition: all .6s linear;
	   -moz-transition: all .6s linear;
		 -o-transition: all .6s linear;
		 	transition: all .6s linear;
}

#portfolio #slide_menu {
	position: absolute;
	top: 50%;
	right: 0;
	height: 186px;
	width: 10%;
	margin-top: -96px;
	text-align: center;
	list-style: none;
	z-index: 1;
}

#portfolio #slide_menu a {
	margin: 0 10px;
	text-decoration: none;
}

#portfolio #slide_menu .icon {
	display: block;
	color: white;
	font-size: 32px;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
		 	transition: all .3s ease-out;
}

#portfolio #slide_menu .icon:hover {
	color: darkgray;
}

#portfolio #home {
	left: 0;
}

#portfolio #jsDays,
#portfolio #starclipse {
	left: -200%;
}

#portfolio #jsDays {
	background: tomato;
}

#portfolio #starclipse {
	background: rebeccapurple;
}

#portfolio #jsDays_target:target #jsDays,
#portfolio #starclipse_target:target #starclipse {
	-webkit-transform: translateX(200%);
	   -moz-transform: translateX(200%);
	   	 -o-transform: translateX(200%);
		 	transform: translateX(200%);
	transition-delay: .4s !important;
}

#portfolio #jsDays_target:target #home,
#portfolio #starclipse_target:target #home {
	-webkit-filter: blur(3px);
}

#portfolio #jsDays_target:target #jsDays_icon,
#portfolio #starclipse_target:target #starclipse_icon {
	-webkit-transform: scale(1.4) !important;
	   -moz-transform: scale(1.4) !important;
	     -o-transform: scale(1.4) !important;
		 	transform: scale(1.4) !important;
}

.slide .content {
	position: absolute;
	width: 90%;
	height: 100%;
	-webkit-transform: translateX(20px);
	   -moz-transform: translateX(20px);
	   	 -o-transform: translateX(20px);
		 	transform: translateX(20px);
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
	   	 -o-transition: all .4s ease-in-out;
		 	transition: all .4s ease-in-out;
}

#portfolio #jsDays_target:target .slide#jsDays .content,
#portfolio #starclipse_target:target .slide#starclipse .content {
	-webkit-transform: translateX(0) !important;
	   -moz-transform: translateX(0) !important;
		 -o-transform: translateX(0) !important;
		 	transform: translateX(0) !important;
	transition-delay: 1s;
}

.slide {
	text-align: center;
	color: white;
}

/********************** FOOTER */

footer {

}

/********************** COMMON */

/*.main:target {
	height: 29px;
	border-bottom: 1px solid white;
}*/

/********************** QYERYLOADER */

.QOverlay {
	background-color: #000000;
	z-index: 9999;
}

.QLoader {
	background-color: #666666;
	height: 1px;
}
