* {
	margin: 0;
  outline: none;
	padding: 0;

}

html, body {
  background-color: #000;
  cursor: default;
  overflow: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
          user-select: none;
}

#wrapper {
	display: none;
}

/* menu */

#menu {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -122px 0 0 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

#menu li {
  margin: 10px 40px 0 0;
}

#menu li a {
  display: block;
  color: #FFF;
  font-size: 2em;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
		   -o-transition: all .3s ease-out;
		 	    transition: all .3s ease-out;
}

#menu li a:hover {
  color: darkgray;
  /*opacity: .6;*/
}

#menu .default {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

#menu .small {
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}

#menu .big {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}

/* page */

.page {
  position: absolute;
  bottom: -200%;
  left: 0;
	height: 100%;
  width: 100%;
  background: #111;
  overflow: hidden;
	-webkit-transition: all .6s linear;
	   -moz-transition: all .6s linear;
		   -o-transition: all .6s linear;
		 	    transition: all .6s linear;
}

.page .content {
  position: absolute;
  height: 100%;
	width: 100%;
	-webkit-transform: translateY(-20px);
	   -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
	   	 -o-transform: translateY(20px);
		 	    transform: translateY(-20px);
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .6s ease-in-out;
      -ms-transition: all .4s ease-in-out;
	   	 -o-transition: all .4s ease-in-out;
		 	    transition: all .4s ease-in-out;
}

.blur {
  -webkit-filter: blur(3px);
}

.page .content .title {
  margin: 100px 0 0 100px;
}

.page .content .title h1 {
  color: white;
  font: bold 36.5pt "Oswald";
  margin: 0 0 20px 0;
}

.page .content .title h2 {
  color: white;
  font: 100 19pt "Oswald";
}

.page .content .title .underlined {
  border-bottom: 2px solid white;
}

.page .content .title .highlighted {
  color: #ff3737;
}


.slide .title {
	margin-top: 100px;
	margin-left: 100px;
	height: 100px;
}
.slide h1 {
	color: white;
	font-family: "Oswald", sans-serif;
	font-size: 40pt;
	font-weight: bold;
	letter-spacing: 100;
}

/* targets */

#t-about:target #about,
#t-prj-1:target #prj-1,
#t-prj-2:target #prj-2,
#t-library:target #library {
  transition-delay: .4s !important;
  -webkit-transform: translateY(-200%);
	   -moz-transform: translateY(200%);
      -ms-transform: translateY(200%);
	   	 -o-transform: translateY(200%);
		 	    transform: translateY(-200%);
}

#t-about:target #about .content,
#t-prj-1:target #prj-1 .content,
#t-prj-2:target #prj-2 .content,
#t-library:target #library .content {
  transition-delay: 1s;
  -webkit-transform: translateX(0) !important;
	   -moz-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
		   -o-transform: translateX(0) !important;
		 	    transform: translateX(0) !important;
}


h1 {
  color: white;
}

/********************** HOME */

#home {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

#home .content,
#home .blackout,
#home .wallpaper {
  height: 100vh;
	position: absolute;
	width: 100%;
}

#home .wallpaper {
  background: url(../Images/back.jpg) center bottom no-repeat;
	background-size: cover;
	-webkit-filter: blur(2px);
}

#home .blackout {
	background: black;
	opacity: 0.4;
}

#home .content {
  height: 452px;
  margin: -226px 0 0 0;
	position: absolute;
	top: 50%;
}

#home .content #image {
	background: url(../Images/hugant.jpg) center center no-repeat;
	background-size: cover;
  border: 3px solid white;
  border-radius: 100px;
	height: 200px;
	margin: 0 auto;
  width: 200px;
}

#home .content #name,
#home .content #nickname {
  color: white;
  font-family: arial;
	font-weight: 100;
	margin: 20px 0 0 0;
  text-align: center;
}

#home .content #social {
  margin: 20px 0 0 0;
	text-align: center;
}

#home .content #social a {
  display: inline-block;
  margin: 0 20px;
  font-size: 2.5em;
  color: white;
  text-decoration: none;
}

#home .content #social a:hover {
	color: #4078c0;
}

#home .content #social .icon-mail-alt:hover {
	color: #db4437;
}

#home .content #social .icon-facebook:hover {
	color: #3b5998;
}

#home .content #social .icon-github:hover {
	color: #3a424a;
}

#home .content #social .icon-vk:hover {
	color: #507299;
}

/********************** ABOUT */


/********************** PRJ-1 */


#portfolio #jsDays {
	background: tomato;
}

#portfolio #starclipse {
  background: #141617;
}




#home h1 span {
	color: #fd4747;
}

#jsDays h1 span {
	color: #673ab7;
}

#starclipse h1 span {
	color: #d41d1d;
	border-bottom: 3px solid white;
}

/********************** FOOTER */


/********************** COMMON */
