extends ../layouts/project

mixin progressBar(title, progress)
	.progress-container.progress-primary
		span.progress-badge=title
		.progress
			.progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0"
			aria-valuemax="100" style=`width: ${progress}%;`)
				span.progress-value=progress + "%"

block variables
	-
		var projectId = "starclipse"
		var active = false
		var title = "Starclipse"
		var description = "Космическая онлайн стратегия реального времени, " +
			"в которой можно получать дополнительные бонусы за счет хороших оценок" +
			" в электронном журнале или за решение каких-либо задач. Основная идея " +
			"игры заключается в взаимодействие между игроками. Каждый игрок развивается" +
			" посредством улучшения зданий, которые приносят ресурсы(золото, железо," +
			" камень, уголь, дерево, вода, кислород, пища, деньги, плодородная земля)." +
			" За счет ресурсов игрок может построить корабли разного типажа(военные," +
			" перевозчики и т.д), улучшить здания или обмениваться ресурсами с другими" +
			" игроками. Игроки могут захватывать планеты других игроков, уничтоженные " +
			"игроки будут начинать игру заново. Игрок, который подключит свой аккаунт " +
			"eljur.ru(новейшая система учета успеваемости для школ и других учебных " +
			"заведений) к приложению будет получать дополнительные ресурсы за счет " +
			"хороших оценок."


block links
	a.btn.btn-primary(href="https://github.com/Hugant/Starclipse-Android")
		i.fa.fa-github
		span GitHub

block badges
	span.badge.badge-primary Java
	span.badge.badge-primary XML

block progress-bars
	+progressBar("Прогресс проекта", 40)

block slider
	include ../sliders/starclipse