extends ../layouts/slider

block variables
	- var sliderId= "slider-100js"
	-
		var images= [
			"assets/img/slider-100js/main.png",
			"assets/img/slider-100js/days.png",
			"assets/img/slider-100js/day.png"
		]