extends ../layouts/slider

block variables
	- var sliderId= "slider-reportmaker"
	-
		var images= [
			"assets/img/slider-reportmaker/slide1.png",
			"assets/img/slider-reportmaker/slide2.png",
			"assets/img/slider-reportmaker/slide3.png",
			"assets/img/slider-reportmaker/slide4.png",
			"assets/img/slider-reportmaker/slide5.png",
			"assets/img/slider-reportmaker/slide6.png",
		]