extends ../layouts/slider

block variables
	- var sliderId= "slider-starclipse"
	-
		var images= [
			"assets/img/slider-starclipse/slide1.svg",
			"assets/img/slider-starclipse/slide2.svg",
			"assets/img/slider-starclipse/slide3.svg",
			"assets/img/slider-starclipse/slide4.svg",
			"assets/img/slider-starclipse/slide5.svg"
		]