extends ../layouts/slider

block variables
	- var sliderId= "slider-tirus"
	-
		var images= [
			"assets/img/slider-tirus/slide1.png",
			"assets/img/slider-tirus/slide2.png",
			"assets/img/slider-tirus/slide3.png"
		]