block variables

.tab-pane(class=active ? "active" : "" id=projectId)
	.row
		.col-md-6
			h5.title=title
			p=description
		.col-md-6.d-flex.flex-column.justify-content-around
			.links
				block links
			.technologies
				h6.title Используемые технологии
				.badges
					block badges
			.project-progress-bars
				block progress-bars

		.row.slider
			.col-8.ml-auto.mr-auto
				block slider