
.icon-github:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-vk:before { content: '\f189'; } /* '' */
.icon-facebook:before { content: '\f1d8'; } /* '' */